<div id="contentHeader">
</div>
<div id="ex-1" class="row ex">
	<div class="col-12">	
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<!-- ------------------------------ DATES ------------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// This is how we create a Date object in JavaScript
const now = new Date();
println(`new Date(): ${now}`);

//To create a date that's initialized to a specific date (at 12:00 a.m.):
const halloween = new Date(2019, 9, 31);
println(`halloween: ${halloween}`); 
// note that months are zero-based: 0=January

// To create a date that's initialized to a specific date and time:
var halloweenParty = new Date(2019, 9, 31, 19, 0); 
// 19:00 = 7:00 pm (should be a const)
println(`halloweenParty: ${halloweenParty}`);

// Once you have a date object, you can retrieve its components:
print(halloweenParty.getFullYear()); // 2019
print(halloweenParty.getMonth()); // 9
print(halloweenParty.getDate()); // 31
print(halloweenParty.getDay()); // 1 (Mon; 0=Sun, 1=Mon,...)
print(halloweenParty.getHours()); // 19
print(halloweenParty.getMinutes()); // 0
print(halloweenParty.getSeconds()); // 0
print(halloweenParty.getMilliseconds()); // 0
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var today = new Date();
var halloweenParty = new Date(2019, 9, 31, 19, 0); 
// 19:00 "military time" = 7:00 pm
println(`days until halloween: ${datediff(today, halloweenParty)}`);

function datediff(first, second) {
    // Take the difference between the dates and divide by milliseconds per day.
    // Round to nearest whole number to deal with DST.
    return Math.round((second-first)/(1000*60*60*24));
}

// new Date("dateString") is browser-dependent and discouraged, so we'll write
// a simple parse function for U.S. date format (which does no error checking)
function parseDate(str) {
    var mdy = str.split('/');
    return new Date(mdy[2], mdy[0]-1, mdy[1]);
}
</textarea>


<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// There are a couple of easy ways to display dates on our web pages.

// We can display the "short date" with "date.toLocaleDateString();"
// https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleDateString
var date = new Date();
var dateString = date.toLocaleDateString();
println(`toLocaleDateString: ${dateString}`);

// -----------------------------------

// We can display the time by passing in options to our Locale method
var options = {
  hour: 'numeric',
  minute: 'numeric',
  hour12: true
};
var dateString = date.toLocaleString('en-US', options);
println(`toLocale w/ time options: ${dateString}`);

// -----------------------------------

// We can display the "short date" and the time, by adding 
// options to our Locale method
var options = {
  month: "2-digit",
  day: "2-digit",
  year: 'numeric',
  hour: 'numeric',
  minute: 'numeric',
  hour12: true
};

var dateString = date.toLocaleString('en-US', options);
println(`toLocale w/ date &amp; time options: ${dateString.replace(",","")}`);

// Review the link above to learn about additional options.
println(`<br/><a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleDateString">MDN Date Locale Link</a>`);
</textarea>


<!-- ---------------------------- EXAMPLE 4 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// We can determine if one date is before or after another date
var date1 = new Date(1996, 2, 1);
var date2 = new Date(2009, 4, 27);
println(`date 1 : ${date1.toLocaleDateString()}`);
println(`date 2 : ${date2.toLocaleDateString()}`);
println(`date1 > date2 (date 1 after date 2): (${date1 > date2})`); // false
println(`date1 < date2 (date 1 before date 2): (${date1 < date2})`); // !false
</textarea>

<!-- ---------------------------- EXAMPLE 5 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var date = new Date();
var modifiedDays = modifyDays(date, 2, "+");
println(`Two Days From Now: ${modifiedDays.toLocaleDateString()}`);

var modifiedDays = modifyDays(date, 2, "-");
println(`Two Days Ago: ${modifiedDays.toLocaleDateString()}`);

function modifyDays(date, days, operand) {
	// Create a new date so that we do not 
	// affect the date passed into the function.
	let result = new Date(date); 
	
	if ("+" == operand) {
		result.setDate(result.getDate() + days);	
	} else if ("-" == operand) {
		result.setDate(result.getDate() - days);
	}
	
	return result;	
}
</textarea>


<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
				
<!-- 				<div>
					<button class="btn btn-success float-right" onclick="run('console1', 'output1');">
						Run
					</button>
				</div> -->
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
