<div id="contentHeader"></div> 
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label> 

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// The module "myapp" is simply using object notation to manage
// variables and functions.

// Notice that variables and functions are referenced by a 
// "key" (a, printB)
var myapp = {
	a: 1
	,printB: function printB() { 
		this.b  = this.a + 1;
		
		// We can access other functions within our namespace
		this.out(`this.b: ${this.b}`);
	}

	// The function can be anonymous. We can still reference
	// the function by it's "key." Note: if you place the comma
	// at the beginning of each object, it is easier to comment
	// and uncomment sections of code.
	,out: function (message) {
		print(`module "out()" function called`);
		print(message);
	}
};
 
// We can access our global module namespace by referencing "myapp"
// We can easily access functions within our namespace.
myapp.printB();

// What happens if we replace this.out() with out();
// Does this work or fail? Why?

// What happens if we comment the "out" function in the module and
// uncomment the "out" function below? Does this work or fail? why?
/*
function out(message) {
	print(`global "out()" function called`);
	print(message);
}
*/
</textarea>



<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
