<div id="contentHeader"></div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>

<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Simple search with a regular expression
var string = "Interns are great and we value them.";
var pattern = /intern/i;
print(`string.search(pattern): ${string.search(pattern)}`)
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// What is this one doing?
var string = "The rain in Spain stays mainly in the plain";
var pattern = /[^s]/gi
var res = string.match(pattern);
print(`${res}`)
// what happens if we remove g?
</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Audience participation
// let's build one together
var string = "";
var pattern = //
var res = string.match(pattern);
print(`${res}`)

</textarea>
<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
