<div id="contentHeader">
</div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>
				
<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">
// First, create a Set instance:
var roles = new Set();
printObject("empty set: ", roles);
printSet(roles);

// Now if we want to add a user role, we can do so with the add() method:
roles.add("User"); // Set [ "User" ]
printObject("empty set (added User): ", roles);
print(JSON.stringify(roles));

// To make this user an administrator, call add() again:
///roles.add("Admin"); // Set [ "User", "Admin" ]

// Like Map, Set has a size property:
///roles.size; // 2

// Here's the beauty of sets: we don't have to check to see if something is already in the
// set before we add it. If we add something that's already in the set, nothing happens:
///roles.add("User"); // Set [ "User", "Admin" ]
///roles.size; // 2

// To remove a role, we simply call delete(), which returns true if the role was in the
// set and false otherwise:
///roles.delete("Admin"); // true
///roles; // Set [ "User" ]
///roles.delete("Admin"); // false

function printSet(set) {
	[...set].forEach((item)=>{
		print("item: " + item);
	}); 
		
	
}

</textarea>

<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
