<div id="contentHeader"></div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>
				
<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">
var letters = 'abc';
print("letters: " + letters);

var greeting = "Hello world."
print("greeting: " + greeting);

// We can use the single quote within a string if we like:
var sentence = "Who's on first?";
print("sentence: " + sentence);

// We can use double quotes within a string if we like:
var sentence = '"Where\'s the beef?", said the woman.';
print("sentence: " + sentence);
// Notice that we need to escape the single quote if we use it inside of the string

// We can use double quotes within a string that is wrapped with double quotes:
var sentence = "\"Where's the beef?\", said the woman.";
print("sentence: " + sentence);
// Notice that we need to escape the double quote if we use it inside of the string
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var lineOneAndTwo = "line one\nline two";
var lineOneAndTwoHTML = "line one<br/>line two";
console.log(lineOneAndTwo);
alert("line 1\nline2");
print(lineOneAndTwoHTML);
// Since we are printing to a div element, we need to use the break
// tag to write to a new line.
</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// We have talked about Strings and String Concatenation already
// but we will cover the basics again to make sure we are all on 
// the same page

// Strings are concatenated with +
var result = "Hello " + "world!"; 	// = "Hello world!"
print("result: " + result);

// which works with more than just strings
// we can add strings with Arrays
var result = "Hello " + ["world", "!"];	// = "Hello world,!"
print("result: " + result);

// Be careful when working with concatenation
// sometimes you need parenthesis to evaluate expressions properly
var result = "1==1" + 1 == 1;
print("result: " + result);

// 1==1 expression written properly
var result = "1==1 " + (1 == 1);
print("result: " + result);
</textarea>

<!-- ---------------------------- EXAMPLE 4 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Simply wrap your string with back ticks
var literal = `string text`;
print(literal);

// Escaping - you can use single quote and double quote anywhere in the string. 
var sentence = `"Where's the beef?", said the woman.`;
print("sentence: " + sentence);

// Concatenating - we no longer need to concatenate strings and variables with
// the plus sign. Instead, we can use ${variable_name} 
print(`sentence: ${sentence}`);

// Multiline - when using a template literal, spaces new lines are preserved.
var sentence = ` line 1     :)
line 2  .`;
alert(`sentence: ${sentence}`);
print(`<pre>sentence: ${sentence}</pre>`);
</textarea>

<!-- ---------------------------- EXAMPLE 5 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">

// You can perform comparisons with Strings
var result = "a" < "b"; 
print(`result ("a" < "b"): ${result}`);
// Since "a" (97) has a smaller ascii code value than b (98), 
// it is evaluated to be smaller (true). 

var result = "a" < "A"; 
print(`result ("a" < "A"): ${result}`);
//Since "a" (97) has a higher ascii code value than A (65), 
//it is evaluated to be larger (false).

var result = "Zebra" < "ape"; 
print(`result ("Zebra" < "ape"): ${result}`);
// The value of Zebra is evaluated to be less than ape because the 
// string are evaluated in Lexicographic order - meaning that upper
// case letters have a lower ascii value than lower case letters.
</textarea>

<!-- ---------------------------- EXAMPLE 6 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// You can access characters in a string with .charAt(index)
var sentence = `"Where's the beef?", said the woman.`;
var charIndex = sentence.charAt(1);
print(`charIndex: ${charIndex}`);
</textarea>

<!-- ---------------------------- EXAMPLE 7 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// We can call the method substring() to grab one or more characters within a string
var sentence = `"Where's the beef?", said the woman.`;
print(sentence.substring(13));

var sentence = `"Where's the beef?", said the woman.`;
print(sentence.substring(13, 13));

var sentence = `"Where's the beef?", said the woman.`;
print(sentence.substring(13, 14));

var sentence = `"Where's the beef?", said the woman.`;
print(sentence.substring(13, 17));
// Note: The second parameter is not inclusive

</textarea>

<!-- ---------------------------- EXAMPLE 8 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var sentence = `"Where's the beef?", said the woman.`;
print(sentence.length);

var index = sentence.indexOf(",");
var quote = sentence.substring(0, index);
print(`quote.length: ${quote.length}`);
</textarea>

<!-- ---------------------------- EXAMPLE 9 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// String.charAt() and String.charCodeAt();

// NOTE: A string is an iterable object. We can determine this by checking
// that the object's iterator field is a function. 
// TASK: Find the first instance of a duplicated letter
var word = "boolean";

if (isIterable(word)) {
	var dup = getFirstDuplicate(word);
	print((dup == "") ? "No dups" : ("1st dup char="+dup));
}

function getFirstDup(word) {
	var prev = "";
	var dup = "";
	
	for (let x=0; x < word.length; x++) {
		if (word.charAt(x) == prev) {
			return word.charAt(x);
		} else {
			prev = word.charAt(x);
		}
	}
	
	return "";
}
print("");

// We can get the character code for a character
print("boolean".charCodeAt(1)); // char code for o is 111


// * Fun Example *
// In this example, we will use the spread operator "..."
// We will iterate over the word using forEach, the spread 
// operator, and an arrow function. 
function getFirstDuplicate(word) {
	var prev = "";
	var dup = "";
	
	try {
		[...word].forEach(x => {
			if (x == prev) {
				dup = x;
				throw BreakException;
			} else {
				prev = x;
			}
		});
	} catch (err) {
		return dup;
	}
	
	return "";
}

function isIterable(obj) {
	return typeof obj[Symbol.iterator] === 'function';
}
</textarea>

<!-- ---------------------------- EXAMPLE 10 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// String.indexOf() and String.lastIndexOf();
var word = "boolean";
print(word.indexOf("b"));
print(word.lastIndexOf("o"));	
</textarea>

<!-- ---------------------------- EXAMPLE 11 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// String.startsWith() and String.endsWith()
var word = "boolean";
print(word.startsWith("b"));
print(word.endsWith("o"));
</textarea>


<!-- ---------------------------- EXAMPLE 12 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// CONCAT
var str1 = 'Hello';
var str2 = 'World';

print(str1.concat(' ', str2));
// expected output: "Hello World"

print(str2.concat(', ', str1));
// expected output: "World, Hello"
</textarea>

<!-- ---------------------------- EXAMPLE 13 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
//  fromCharCode()
// The static String.fromCharCode() method returns a string created from 
// the specified sequence of UTF-16 code units.
print(String.fromCharCode(66, 111, 111));
</textarea>

<!-- ---------------------------- EXAMPLE 14 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// split
var word = "boolean";
var parts = word.split('');
parts.forEach(x => print(x));
print(parts);
print("");

var phrase = "Hello World";
var parts = phrase.split(' ');
parts.forEach(x => print(x));
print(parts);
</textarea>

<!-- ---------------------------- EXAMPLE 15 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// slice
var str = 'The quick brown fox jumps over the lazy dog.';
print(str.slice(31));
// expected output: "the lazy dog."
</textarea>

<!-- ---------------------------- EXAMPLE 16 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
<script>
// substring
var str = 'Mozilla';
print(str.substring(1, 3));
</textarea>

<!-- ---------------------------- EXAMPLE 17 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// MATCH
var paragraph = 'The quick brown fox jumps over the lazy dog. It barked.';
var regex = /[A-Z]/g;
var found = paragraph.match(regex);
print(found);
// expected output: Array ["T", "I"]

// REPLACE
var word = "boat";
var newWord = word.replace("a", "o");
print(newWord);
</textarea>

<!-- ---------------------------- EXAMPLE 18 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// toLowerCase() and toUpperCase()
var word = "InTeRn";
print(word.toLowerCase());
print(word.toUpperCase());
</textarea>



<!-- ---------------------------- EXAMPLE 19 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// String.trim()
var greeting = '   Hello world!   ';
printObject("greeting:", greeting);
// expected output: "   Hello world!   ";
print(greeting.trim());
// expected output: "Hello world!";
</textarea>


<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
				
<!-- 				<div>
					<button class="btn btn-success float-right" onclick="run('console1', 'output1');">
						Run
					</button>
				</div> -->
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
